* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #5e8eec;
    color: #f07808;
    font-weight: 500;
    user-select: none;
}

.container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
    align-items: center;
    flex-grow: 1;
}

input{
    color: #5f3106;
    background: #dce1eb;
    border: 0;
    padding: 15px  50px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    outline: none;
}

.container img{
    width: 170px;
    display: block;
}

button{
    color: #fdfdfd;
    background: #383002;
    border: 0;
    padding: 15px 125px;
    border-radius: 8px;
    font-size: 20px;
}

button:hover{
    background: #432000;
}

ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    text-align: center;
}

ul li{
    border-radius: 5px;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    padding: 1rem;
    text-decoration: none;
    list-style: none;
    background: #dfc78c;
    color: #5f3106;

    flex-grow: 1;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}

ul li:hover{
    background: #6b6558;
}